<!DOCTYPE html>
<html> 
    <head> 
        <title>Help</title> 
        <link rel='stylesheet' href="./css/styles.css"> 
        <link rel='icon' href='/img/icon.png'> 
    </head> 
    <body> 
        <div class='main-content'> 
            {{>header}} 
            <h1>We can provide all help regarding Weather</h1> 
        </div> 
        {{>footer}} 
    </body>
</html>